@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.highcharts-plot-line {
  stroke: #fd853a;
  stroke-width: 2px;
}

.plot-label {
  background-color: #ffffff;
  color: #000000;
  padding: 2px 8px;
  font-size: 12px;
  position: relative;
  clip-path: polygon(0% 50%, 6px 0%, 100% 0%, 100% 100%, 6px 100%);
  z-index: 100;
}

.plot-label-x {
  rotate: 180deg;
}
